In [10]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('explode and Dot Notation').master("local[*]").getOrCreate()

spark

In [11]:
df1 = spark.read.format('json').option("multiline", True).load('data/input/json_test.json')

In [12]:
df1.show(truncate=False)

+----------------+-----------+---------------------------------------------------------+
|account_numbers |investor_id|transactions                                             |
+----------------+-----------+---------------------------------------------------------+
|[ACC123, ACC456]|INV001     |[{2024-06-01, T001, 1500.75}, {2024-06-15, T002, 2300.0}]|
|[ACC789]        |INV002     |[{2024-07-05, T003, 500.0}]                              |
+----------------+-----------+---------------------------------------------------------+

In [13]:
from pyspark.sql.functions import col, explode
df2 = df1.withColumn('exploded', explode('transactions')).select('investor_id', 'exploded')

In [14]:
df2.show(truncate=False)
df2.printSchema()

+-----------+---------------------------+
|investor_id|exploded                   |
+-----------+---------------------------+
|INV001     |{2024-06-01, T001, 1500.75}|
|INV001     |{2024-06-15, T002, 2300.0} |
|INV002     |{2024-07-05, T003, 500.0}  |
+-----------+---------------------------+

root
 |-- investor_id: string (nullable = true)
 |-- exploded: struct (nullable = true)
 |    |-- date: string (nullable = true)
 |    |-- transID: string (nullable = true)
 |    |-- transamount: double (nullable = true)

In [15]:
from pyspark.sql.functions import *
df2.withColumns({'transID':'exploded.transID', 'trans_date':'exploded.date', 'trans_amt':'exploded.transamount'}).show(truncate=False)

+-----------+---------------------------+-------+----------+---------+
|investor_id|exploded                   |transID|trans_date|trans_amt|
+-----------+---------------------------+-------+----------+---------+
|INV001     |{2024-06-01, T001, 1500.75}|T001   |2024-06-01|1500.75  |
|INV001     |{2024-06-15, T002, 2300.0} |T002   |2024-06-15|2300.0   |
|INV002     |{2024-07-05, T003, 500.0}  |T003   |2024-07-05|500.0    |
+-----------+---------------------------+-------+----------+---------+

In [16]:
df3 = df2.groupBy('investor_id').agg(count(lit(1)).alias('trans_cnt')).orderBy(col('trans_cnt').desc())
df3.show(truncate=False)

+-----------+---------+
|investor_id|trans_cnt|
+-----------+---------+
|INV001     |2        |
|INV002     |1        |
+-----------+---------+

In [17]:
print(df3.head())
print(df3.head()[0])
df3.limit(1).show()
df3.tail(1)

Row(investor_id='INV001', trans_cnt=2)
INV001
+-----------+---------+
|investor_id|trans_cnt|
+-----------+---------+
|     INV001|        2|
+-----------+---------+

[Row(investor_id='INV002', trans_cnt=1)]

In [41]:
df3.limit(1).select('investor_id').show()

+-----------+
|investor_id|
+-----------+
|     INV001|
+-----------+